.footer {
    /* margin-top: 50px; */
    margin-top: auto;
}

.footer ul {
    list-style: none;
    margin: 20px auto;
    width: max-content;
}

.footer li {
    display: inline;
}

.footer li:nth-child(n+2) {
    list-style: circle;
    padding-left: 20px;
}