:root {
    --theme-main: #005246;
    --theme-accent: #be5888;
    --theme-dark: #402E32;
    --theme-white: #FCFCFF;
    --theme-grey: #F1DFDB;
    --theme-bg: #FEECE7;
    --theme-green: #2fb66c;
}
/* 
#B5B682
*/

body {
    margin: 0;
    font-family: monospace;
    color: var(--theme-dark);
    
    background-color: #FEDCCE;
    background-image: url("/background.svg");    
    background-size: calc(max(100vw, 1500px));
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: var(--theme-accent);
}