:root {
  --theme-main: #52455F;
  --theme-accent: #005246;
  --theme-dark: #402E32;
  --theme-white: #FCFCFF;
  --theme-grey: #F1DFDB;
  --theme-bg: #DACEF1;
  --theme-green: #2fb66c;
  --header-font: 'Bitter', serif;
  --body-font: monospace;
}
/* :root {
  --theme-main: #005246;
  --theme-accent: #be5888;
  --theme-dark: #402E32;
  --theme-white: #FCFCFF;
  --theme-grey: #F1DFDB;
  --theme-bg: #FEECE7;
  --theme-green: #2fb66c;
  --header-font: 'Bitter', serif;
  --body-font: monospace;
} */

body {
  margin: 0;
  font-family: var(--body-font);
  color: var(--theme-dark);
  min-height: 100vh;
  
  background-image: url("/background.svg");
  background-color: var(--theme-bg);
  background-size: calc(max(100vw, 1500px));
  background-repeat: no-repeat;
  background-position: top center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 800px;
  margin: 0 auto;
}

a {
    color: var(--theme-main);
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.spinner {
  animation: rotating 2s linear infinite;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}