.modalWrapper {
    position: fixed;
    background-color: #3653;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    align-items: center;
}

.modal {
    background-color: var(--theme-white);
    padding: 20px 20px 40px 20px;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    min-width: 200px;
    margin-bottom: 100px;
}

.topbar {
    display: flex;
    align-items: flex-start;
}

.topbar h3 {
    margin-top: 0px;
    line-height: 2em;
}

.topbar svg {
    margin-left: auto;
	cursor: pointer;
    font-size: 2em;
    color: var(--theme-accent);
    transition: transform 250ms ease-out;
}

.topbar svg:hover {
    transform: scale(1.2);
}

.providers {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.authButton {
    cursor: pointer;
    width: 4em;
    height: 4em;
    transition: transform 250ms ease-out;
}

.authButton:hover {
    transform: scale(1.2);
}

.label {
    display:inline-block;
    padding-bottom: 5px;
}

.input {
    padding: 8px;
    color: var(--theme-dark);
    background-color: #0001;
    border-color: var(--theme-dark);
    border-style: none;
    font-family: monospace;
}

.input:hover, .input:focus {
    background-color: #4441;
}

.input:focus {
    outline-style: none;
    box-shadow: none;
}

.error {
    color: var(--theme-accent);
}

.submit {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--theme-accent);
    transition: background-color 250ms ease-out;
}

.submit:hover {
    background-color: #2fb66c;
}